.flex-box{
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    
    h6{
        margin-right: 10px;
    }
    
    input{
        width: 50px;
        height: 25px;
    }

    .total{
        font-weight: 700;
        margin-right: 2px;
    }


    .installation-fee{
        color: red;
        display: flex;
        align-items: baseline;
        // background-color: rgb(94, 3, 240);
        font-size: smaller;

        span{
            font-size: small;
        }
    }

    .current-price{
        font-weight: 900;
        margin-right: 5px ;
    }
    .prev-price{
        font-size: 10px;
        display: flex;
        align-items: baseline;
    }
       
}
.installation-fee-section{
    .installation-total{
        display: flex;
        align-items: baseline;
        padding-left: 5px;
        padding-right: 5px;
        p{
            font-size: small;
        }
    }
}
.prices{
    display: flex;
    align-items: baseline;
    .current-price{
        font-weight: 900;
        margin-right: 5px ;
        color: wheat;
    }
    .prev-price{
        font-size: 12px;
        display: flex;
        align-items: baseline;
        margin-left: 10px;
        text-decoration: line-through;
    }
}
.measurements{
    .flex-box{
        justify-content: space-around;
    }
}
.rolls{
    margin: auto;
    width: 80%;
    text-align: center;
    font-weight: bolder;

    .flex-box{
        
        width: 80%;
        justify-content: space-around;
    }
}
.summary{
    border-top: 2px dashed gray;
    .flex-box{
        align-items: baseline;
    }
}
.final-price{
    background-color: rgb(228, 224, 224);
    border-top:2px dashed gray;
    border-bottom:2px dashed gray;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.spinner{
    height: 70vh;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgb(44, 44, 44);
    svg{
        margin: auto;
    }
}